# Database
DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<database_name>

# Logging
LOG_LEVEL=INFO
ENVIRONMENT=development

# Scrapers
ADZUNA_API_KEY=your_api_key
ADZUNA_APP_ID=your_app_id